frontend/.DS_Store
frontend/node_modules
frontend//build
frontend/.svelte-kit
frontend/package
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*

backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/


*/.idea/modules.xml
*/.idea/jarRepositories.xml
*/.idea/compiler.xml
*/.idea/libraries/
*.iws
*.iml
*.ipr

